    html, body {
      height: 100%;
      margin: 0;
      background-color: #CCCCCC;
    }

    .wrapper {
      min-height: 100%;
      margin-bottom: -50px;
    }

    .footer, .push {
      height: 50px;
    }

    .footer{
      background-color: black;
    }